---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
const identity = {
  firstName: "Alok",
  country: "India",
  occupation: "Full-stack web developer",
  hobbies: ["photography", "birdwatching", "cricket"],
};

const skills = [
  {
    name: "HTML",
    link: "https://developer.mozilla.org/en-US/docs/Web/HTML",
    logo: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/html5-colored.svg",
  },
  {
    name: "CSS",
    link: "https://developer.mozilla.org/en-US/docs/Web/CSS",
    logo: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/css3-colored.svg",
  },
  {
    name: "JavaScript",
    link: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
    logo: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/javascript-colored.svg",
  },
  {
    name: "Astro",
    link: "https://astro.build/",
    logo: "https://raw.githubusercontent.com/github/explore/5cc0a03a302ec862c4aeac2a22a513ae31c35432/topics/astro/astro.png",
  },
  {
    name: "Next.js",
    link: "https://nextjs.org/",
    logo: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/nextjs-colored.svg",
  },
  {
    name: "Git",
    link: "https://git-scm.com/",
    logo: "https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg",
  },
];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style>
      h1 {
        color: purple;
        font-size: 4rem;
      }
    </style>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <h2>... and my new Astro site!</h2>

      <p>
        I am working through Astro's introductory tutorial. This is the second
        page on my website, and it's the first one I built myself!
      </p>

      <p>
        This site will update as I complete more of the tutorial, so keep
        checking back and see how my journey is going!
      </p>
      <p>Here are a few facts about me:</p>
      <ul>
        <li>My name is {identity.firstName}.</li>
        <li>
          I live in {identity.country} and I aspire to work as a {
            identity.occupation
          }.
        </li>
      </ul>
      <p>My skills are:</p>
      <ul>
        {
          skills.map((skill, index) => (
            <span class="skill">
              <a href={skill.link} target="_blank" rel="noopener noreferrer">
                <img src={skill.logo} alt={skill.name} width="36" height="36" />
              </a>
            </span>
          ))
        }
      </ul>
      {happy && <p>I am happy to be learning Astro!</p>}
      {finished && <p>I finished this tutorial!</p>}
      {
        goal === 3 ? (
          <p>My goal is to finish in {goal} days.</p>
        ) : (
          <p>My goal is not {goal} days.</p>
        )
      }
    </BaseLayout>
  </body>
</html>
